.suggestion-iter {
  font-size: 30px;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  height: 2em;
  overflow: hidden;
  display: block;
}


.suggestion-iter:hover .language {
  color: #3879d8;
  background: white;
  display: inline;
}
.suggestion-iter .language {
  color: white;
  background: #3879d8;
  border-radius: 4px;
  padding: 0px 2px;
  font-weight: 900;
  /* display: inline-block; */
  padding: 5px 10px 5px 0;
}

.language-flag {
  height: 50%;
}
